NODE_ENV=undefined
PORT=3000

JWT_SECRET=undefined
MONGODB_URI=undefined
MONGODB_DB_NAME=undefined

MULESOFTURI=undefined
CERTIFICATE=undefined
CERTIFICATECA=undefined
CERTIFICATEKEY=undefined

VERCEL_TOKEN=undefined
